mat-icon {
    text-align: right;
}

mat-icon:hover {
    color: darkgray;
}

.full-length {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.mat-list, .mat-nav-list {
    padding: 0;
}